<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>BLOOD BANK | Indian Red Cross Society</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% include "bloodbank/menu_css.html" %}


    </head>

    <body>


   {% include "bloodbank/menu.html" %}

	
<h2 class="title-style-1">DOWNLOADS<span class="title-under"></span></h2>
        
        <ul style="list-style-type:none" >
                <li><center><strong>BLOOD REQUISITION FORM</strong></center></li><br>       
                <li><center><strong>DONOR CONSENT FORM</strong></center></li>   <br>  
                <li><center><strong>LETTER OF APPEAL</strong></center></li>     <br>
                <li><center><strong>PUBLICITY MATERIAL</strong></center></li>     <br>
                <li><center><strong>LETTER TO RH NEGATIVE DONOR</strong></center></li><br>     

            </ul>   
<br>
<h2 class="title-style-1">Downloadable Publicity Material<span class="title-under"></span></h2>

    <p><center><strong>Phamphlet 1 (Front)</strong></center></p>
    <img src="/static/bloodbank/images/download_gallery/Picture 001.jpg"  alt="" ><br>

    <p><center><strong>Phamphlet 1 (Back)</strong></center></p>
    <img src="/static/bloodbank/images/download_gallery/Picture 002.jpg"  alt="" ><br>

    <p><center><strong>Sticker</strong></center></p>
    <img src="/static/bloodbank/images/download_gallery/Picture 003.jpg"  alt="" ><br>


    <p><center><strong>F.A.Q. Brochure (Front)</strong></center></p>
    <img src="/static/bloodbank/images/download_gallery/Picture 006.jpg"  alt="" ><br>


    <p><center><strong>F.A.Q. Brochure (Back)</strong></center></p>
    <img src="/static/bloodbank/images/download_gallery/Picture 007.jpg"  alt="" ><br>


    <p><center><strong>Book Mark (Front)</strong></center></p>
    <img src="/static/bloodbank/images/download_gallery/Picture 008.jpg"  alt="" ><br>


    <p><center><strong>Book Mark (Back)</strong></center></p>
    <img src="/static/bloodbank/images/download_gallery/Picture 009.jpg"  alt="" ><br>


    <p><center><strong>Hindi Pamphlet (Front)</strong></center></p>
   <img src="/static/bloodbank/images/download_gallery/Picture 010.jpg"  alt="" ><br>


    <p><center><strong>Hindi Pamphlet (Back)</strong></center></p>
   <img src="/static/bloodbank/images/download_gallery/Picture 011.jpg"  alt="" ><br>


    <p><center><strong>Flier (Front)</strong></center></p>
    <img src="/static/bloodbank/images/download_gallery/Picture 012.jpg"  alt="" ><br>

    <p><center><strong>Flier (Back)</strong></center></p>
   <img src="/static/bloodbank/images/download_gallery/Picture 013.jpg"  alt="" ><br>

    <p><center><strong>Blood Donation Facts (Front)</strong></center></p>
    <img src="/static/bloodbank/images/download_gallery/Picture 014.jpg"  alt="" ><br>

    <p><center><strong>Blood Donation Facts (Back)</strong></center></p>
   <img src="/static/bloodbank/images/download_gallery/Picture 015.jpg"  alt="" ><br>

    <p><center><strong>Glass Sticker</strong></center></p>
    <img src="/static/bloodbank/images/download_gallery/Picture 016.jpg"  alt="" ><br>

  





<!-- 
    <footer class="main-footer">

        <div class="footer-top">
            
        </div>


        <div class="footer-main">
            <div class="container">
                
                <div class="row">
                    <div class="col-md-4">

                        <div class="footer-col">

                            <h4 class="footer-title">About us <span class="title-under"></span></h4>

                            <div class="footer-content">
                                <p>
                                    <strong>Sadaka</strong> ipsum dolor sit amet, consectetur adipiscing elit. Ut at eros rutrum turpis viverra elementum semper quis ex. Donec lorem nulla, aliquam quis neque vel, maximus lacinia urna.
                                </p> 

                                <p>
                                    ILorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at eros rutrum turpis viverra elementum semper quis ex. Donec lorem nulla, aliquam quis neque vel, maximus lacinia urna.
                                </p>

                            </div>
                            
                        </div>

                    </div>

                    <div class="col-md-4">

                        <div class="footer-col">

                            <h4 class="footer-title">LAST TWEETS <span class="title-under"></span></h4>

                            <div class="footer-content">
                                <ul class="tweets list-unstyled">
                                    <li class="tweet"> 

                                        20 Surprise Eggs, Kinder Surprise Cars 2 Thomas Spongebob Disney Pixar  http://t.co/fTSazikPd4 

                                    </li>

                                    <li class="tweet"> 

                                        20 Surprise Eggs, Kinder Surprise Cars 2 Thomas Spongebob Disney Pixar  http://t.co/fTSazikPd4 

                                    </li>

                                    <li class="tweet"> 

                                        20 Surprise Eggs, Kinder Surprise Cars 2 Thomas Spongebob Disney Pixar  http://t.co/fTSazikPd4 

                                    </li>

                                </ul>
                            </div>
                            
                        </div>

                    </div>


                    <div class="col-md-4">

                        <div class="footer-col">

                            <h4 class="footer-title">Contact us <span class="title-under"></span></h4>

                            <div class="footer-content">

                                <div class="footer-form" >
                                    
                                    <form action="php/mail.php" class="ajax-form">

                                        <div class="form-group">
                                            <input type="text" name="name" class="form-control" placeholder="Name" required>
                                        </div>

                                         <div class="form-group">
                                            <input type="email" name="email" class="form-control" placeholder="E-mail" required>
                                        </div>

                                        <div class="form-group">
                                            <textarea name="message" class="form-control" placeholder="Message" required></textarea>
                                        </div>

                                        <div class="form-group alerts">
                        
                                            <div class="alert alert-success" role="alert">
                                              
                                            </div>

                                            <div class="alert alert-danger" role="alert">
                                              
                                            </div>
                                            
                                        </div>

                                         <div class="form-group">
                                            <button type="submit" class="btn btn-submit pull-right">Send message</button>
                                        </div>
                                        
                                    </form>

                                </div>
                            </div>
                            
                        </div>

                    </div>
                    <div class="clearfix"></div>



                </div>
                
                
            </div>

            
        </div>

        <div class="footer-bottom">

            <div class="container text-right">
                Sadaka @ copyrights 2015 - by <a href="http://www.ouarmedia.com" target="_blank">Ouarmedia</a>
            </div>
        </div>
        
    </footer>
 -->



       
        
        {% include "bloodbank/menu_js.html" %}
    </body>
</html>
