<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>BLOOD BANK | Indian Red Cross Society</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
       {% include "bloodbank/menu_css.html" %}

    </head>

    <body>


    {% include "bloodbank/menu.html" %}

<br>
<br>



<!-- 
	<div class="page-heading text-center">

		<div class="container zoomIn animated">
			
			<h1 class="page-title">CAUSE TITLE <span class="title-under"></span></h1>
			<p class="page-description">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit Necessitatibus.
			</p>
			
		</div>

	</div> -->

	<div class="main-container">

		<div class="container">

			<div class="row">

				<div class="col-md-12 fadeIn animated">
 <h2 class="title-style-1">The OBJECTIVES<span class="title-under"></span></h2>
 <br>
				<ol style ="list-style-type:square">

					<li> Providing Safe Blood & Blood products consistently through regular healthy voluntary non-remunerated blood donors to the patients. </li>
					<br>
					<li> To reduce the risk of Transfusion transmitted diseases as the Voluntary Blood Donors being healthy representatives of the society and are safest Blood Donors as they are from low-risk groups. </li>
					<br>
					<li> Voluntary Donors are regular Blood Donors so the gap between availability & the demand of blood in the country can be reduced. </li>
					<br>
					<li> Provide safe and quality blood and blood components collected from voluntary donors, round the clock, at affordable cost to the general public and free of cost to the poor. </li>
					<br>
					<li> Ensure safety and quality of blood.</li>
					<br>
					<li> Motivate and maintain a permanent well-indexed record of voluntary blood donors. </li>
					<br>
					<li> Educating the community on the beneficial aspects of blood donation and harmful effect of collecting blood from paid donors. </li>
					<br>
					<li> Actively encourage voluntary blood donation and gradually eliminate professional/paid blood donors. </li>
					<br>
					<li> Promote AIDS awareness and education to the general public. </li>
					<br>
					<li> Assists the various Organizations, Clubs, Colleges, Public & Private Institutions and the Public to conduct voluntary blood donation drives and arrange for motivational talks to enable progressively increase the number of voluntary non-remunerated blood donors every year.</li>
					<br>
				</ol>
				</div>

			
				</div>
				
			</div>

		</div>

		

		


	</div> <!-- /.main-container  -->
<!-- 

    <footer class="main-footer">

        <div class="footer-top">
            
        </div>


        <div class="footer-main">
            <div class="container">
                
                <div class="row">
                    <div class="col-md-4">

                        <div class="footer-col">

                            <h4 class="footer-title">About us <span class="title-under"></span></h4>

                            <div class="footer-content">
                                <p>
                                    <strong>Sadaka</strong> ipsum dolor sit amet, consectetur adipiscing elit. Ut at eros rutrum turpis viverra elementum semper quis ex. Donec lorem nulla, aliquam quis neque vel, maximus lacinia urna.
                                </p> 

                                <p>
                                    ILorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at eros rutrum turpis viverra elementum semper quis ex. Donec lorem nulla, aliquam quis neque vel, maximus lacinia urna.
                                </p>

                            </div>
                            
                        </div>

                    </div>

                    <div class="col-md-4">

                        <div class="footer-col">

                            <h4 class="footer-title">LAST TWEETS <span class="title-under"></span></h4>

                            <div class="footer-content">
                                <ul class="tweets list-unstyled">
                                    <li class="tweet"> 

                                        20 Surprise Eggs, Kinder Surprise Cars 2 Thomas Spongebob Disney Pixar  http://t.co/fTSazikPd4 

                                    </li>

                                    <li class="tweet"> 

                                        20 Surprise Eggs, Kinder Surprise Cars 2 Thomas Spongebob Disney Pixar  http://t.co/fTSazikPd4 

                                    </li>

                                    <li class="tweet"> 

                                        20 Surprise Eggs, Kinder Surprise Cars 2 Thomas Spongebob Disney Pixar  http://t.co/fTSazikPd4 

                                    </li>

                                </ul>
                            </div>
                            
                        </div>

                    </div>


                    <div class="col-md-4">

                        <div class="footer-col">

                            <h4 class="footer-title">Contact us <span class="title-under"></span></h4>

                            <div class="footer-content">

                                <div class="footer-form" >
                                    
                                    <form action="php/mail.php" class="ajax-form">

                                        <div class="form-group">
                                            <input type="text" name="name" class="form-control" placeholder="Name" required>
                                        </div>

                                         <div class="form-group">
                                            <input type="email" name="email" class="form-control" placeholder="E-mail" required>
                                        </div>

                                        <div class="form-group">
                                            <textarea name="message" class="form-control" placeholder="Message" required></textarea>
                                        </div>

                                        <div class="form-group alerts">
                        
                                            <div class="alert alert-success" role="alert">
                                              
                                            </div>

                                            <div class="alert alert-danger" role="alert">
                                              
                                            </div>
                                            
                                        </div>

                                         <div class="form-group">
                                            <button type="submit" class="btn btn-submit pull-right">Send message</button>
                                        </div>
                                        
                                    </form>

                                </div>
                            </div>
                            
                        </div>

                    </div>
                    <div class="clearfix"></div>



                </div>
                
                
            </div>

            
        </div>

        <div class="footer-bottom">

            <div class="container text-right">
                Sadaka @ copyrights 2015 - by <a href="http://www.ouarmedia.com" target="_blank">Ouarmedia</a>
            </div>
        </div>
        
    </footer>

 -->


       
        
       {% include "bloodbank/menu_js.html" %}
    </body>
</html>
