
<!DOCTYPE html>
<html lang="en">
  <head>
    <!--=============================================== 
    Template Design By WpFreeware Team.
    Author URI : http://www.wpfreeware.com/
    ====================================================-->

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <title>The Indian Red Cross Society and St. John Ambulance Association Salutes to its Volunteers</title>

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

   {% include "menu_css.html" %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]--> 
  </head>
  <body>    
   {% include "menu.html" %}

    <!--=========== START BLOG SECTION ================  -->
    <section id="blogArchive">      
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="blog-breadcrumbs-area">
            <div class="container">
              <div class="blog-breadcrumbs-left">
                <h2>IRCS and St. John Ambulance Association</h2>
              </div>
              <div class="blog-breadcrumbs-right">
                <ol class="breadcrumb">
                  <li>You are here</li>
                  <li><a href="#">Home</a></li>                  
                  <li class="active">St. John Ambulance</li>
                </ol>
              </div>
            </div>
          </div>
        </div>        
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="container">
            <div class="row">
              <div class="col-md-12 col-sm-12">
                <!-- Start Blog Archive Area 
                <div class="blogArchive-area">
                  <div class="row">
                    <!-- Start Blog Content 
                    <div class="col-md-12 col-sm-12">
                      <div class="blog-content">
                        <!-- Start Single Blog -->
                        <div class="single-Blog">
                          <div class="single-blog-left">
                            <ul class="blog-comments-box">
                              <li>July <h2>10</h2>2016</li>
                             
                            </ul>
                          </div>
                          <div class="single-blog-right">
                            <div class="blog-img">
                              <figure class="blog-figure">
                               <a href="#"><img alt="img" src="/media/25.jpg"></a>
                                <span class="image-effect"></span>
                              </figure>
                            </div>
                            
                            
                            <div class="blog-content">
                              <h2>
The Indian Red Cross Society and St. John Ambulance Association Salutes to its Volunteers</h2>
                              
                              <p>
The Indian Red Cross Society and St. John Ambulance Association Salutes to its Volunteers
The Republic Day on January 26th holds an invaluable significance as the whole nation celebrates it with zeal and fervour. The main function is held at Rajpath, New Delhii where H.E. the President of the country unfolds the national flag. Parades by units of army, paramilitary, police, NCC and others, exhibition of the national defence power, police bands, colourful portrayal of states cultural and religious heritage and performance by folk dancers and school children add glamour to the event.

St. John Ambulance is the first aid and ambulance wing of the Indian Red Cross. St. John Ambulance, Delhi has been a partner in the celebrations for the last 58 years during the rehearsals of Republic Day Parade, the D-day, Beating Retreat, Martyr's Day and Kavi Sammelan. It comes forward to provide medical cover through the support of the volunteers. Ambulances with medical teams are also deployed for transportation of causalities.

Services provided by the volunteers on the rehearsal days of January 17th, 18th, 20th, 23rd and on the 26th were remarkable. 1000 volunteers were on duty since the wee hours, at 4 am, at all first aid Posts starting from Vijay Chowk to Red Fort.

Vikram Sharma, a volunteer who is a student of Delhi University worked as an ambulance member. He was excited about his participation in the national event as he said “My presence here would remind me that I have to serve not only the nation but also humanity, which in itself is selfless service”.

The first-aid posts set up at regular intervals and at all cross roads falling in the route had 4-5 volunteers who had undergone the first-aid training and were under the supervision of a Core-Commander. Medical officers were also deputed on the VIP route.

Dr. Atul Kumar Chauhan, Medical Officer, Mobile Health Scheme, Delhi Health Services present at the first-aid post said, “For years I have been watching Republic Day on television but this year, I got the opportunity to be here and provide medical aid. It's a great feeling to know that patriotism is so much alive in the country and I am associated with such an event.

The need of the first-aid posts and the volunteers is proved from the statistics, which reveal that every post received and cared for on an average 150-160 cases of ailment on the national day and 50-60 cases on other days. These posts had the provision of providing medication for the illnesses like cold, cough, fever and dressing for any kind of bruises or cuts. Maximum numbers of cases were received from school children.

The volunteers of the Indian Red Cross Society were in the forefront to provide medical aid and ambulance cover on the Republic Day in full strength. It's a great feeling which can be realized only when one witnesses their enthusiasm and commitment during the hours of service.

The contribution of these volunteers is undoubtedly exceptional just like an Indian soldier who is not daunted by the severities of weather they too didn't lag behind in serving the mankind as they were at their posts, in the chilly cold winter with temperature being as low as 3-4° C. These volunteers were between the age group of 16-70 years and from different segments of society such as school and college students, government officials and retired personnel.</p>
                              
                        
                          </div>
                        </div>
                        
                          </div>
                        </div>
                        
                       
                      </div>
                    </div>                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--=========== END BLOG SECTION ================-->

    <footer id="footer">
      <!-- Start Footer Top -->
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="single-footer-widget">
                <div class="section-heading">
                <h2>About Us</h2>
                <div class="line"></div>
              </div>           
              <p>Indian Red Cross Society has been running the largest Voluntary Blood Banks in India since 1962 and at present contributing 10% of the total blood collection through its 110 blood bank centers across the country. Blood and Blood products are issued free of cost to the Thalassemic and Haemophilic patients and to Government hospitals.</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="single-footer-widget">
                <div class="section-heading">
                <h2>Quick Links</h2>
                <div class="line"></div>
              </div>
              <ul class="footer-service">
                <li><a href="#"><span class="fa fa-check"></span>First Medical Responders(FMR)</a></li>
                <li><a href="#"><span class="fa fa-check"></span>St. Jones Ambulance</a></li>
                <li><a href="#"><span class="fa fa-check"></span>Disaster Management</a></li>
                <li><a href="#"><span class="fa fa-check"></span>Blood Bank</a></li>
                <li><a href="#"><span class="fa fa-check"></span>Donate</a></li>
                <li><a href="#"><span class="fa fa-check"></span>Volunteer</a></li>
              </ul>
              </div>
            </div>
           
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="single-footer-widget">
                <div class="section-heading">
                <h2>Contact Info</h2>
                <div class="line"></div>
              </div>
              <p></p>
              <address class="contact-info">
                <p><span class="fa fa-home"></span>Indian Red Cross National HQ,Central Secretariat,New Delhi</p>
                <p><span class="fa fa-phone"></span>phone no.</p>
                <p><span class="fa fa-envelope"></span>ircs@indianredcross.org</p>
              </address>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Start Footer Middle -->
      <div class="footer-middle">
        <div class="container">
          <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="footer-copyright">
              <p>&copy; Copyright 2016 <a href="index.html">Indian Red Cross Society</a></p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="footer-social">              
                <a href="#"><span class="fa fa-facebook"></span></a>
                <a href="#"><span class="fa fa-twitter"></span></a>
                
            </div>
          </div>
        </div>
        </div>
      </div>
    
    {% include "menu_js.html" %}
     
  </body>
</html>