
<!DOCTYPE html>
<html lang="en">
  <head>
    <!--=============================================== 
    Template Design By WpFreeware Team.
    Author URI : http://www.wpfreeware.com/
    ====================================================-->

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <title>IRCS : ICRC</title>

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% include "menu_css.html" %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]--> 
  </head>
  <body>    
    {% include "menu.html" %}
    <!--=========== START BLOG SECTION ================-->     
    <section id="blogArchive">      
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="blog-breadcrumbs-area">
            <div class="container">
              <div class="blog-breadcrumbs-left">
          
              </div>
              <div class="blog-breadcrumbs-right">
                <ol class="breadcrumb">
                  <li>You are here</li>
                  <li><a href="#">Home</a></li>                  
                  <li class="active">ICRC</li>
                </ol>
              </div>
            </div>
          </div>
        </div>        
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="container">
            <div class="row">
              <div class="col-md-12 col-sm-12">
                <!-- Start Blog Archive Area -->
                <div class="blogArchive-area">
                  <div class="row">
                    <!-- Start Blog Content -->
                    <div class="col-md-12 col-sm-12">
                      <div class="blog-content">
                        <!-- Start Single Blog -->
                        <div class="single-Blog">
                          <div class="single-blog-left">
                            <ul class="blog-comments-box">
                              <li>May <h2>10</h2>2015</li>
                              <li><span class="fa fa-eye"></span>1523</li>
                              <li><a href="#"><span class="fa fa-comments"></span>5</a></li>
                            </ul>
                          </div>
                          <div class="single-blog-right">
                            <div class="blog-img">
                              <figure class="blog-figure">
                               <a href="#"><img alt="img" src="30.jpg"></a>
                                <span class="image-effect"></span>
                              </figure>
                            </div>
                            <div class="blog-author">
                            <!--  <ul>
                                <li>By <a href="#">Dr. Smith</a></li>
                                <li>In <a href="#">Dental</a></li>
                              </ul>-->
                            </div>
                            <div class="blog-content">
                              <h2>   
The IRCS MRE Programme a Boon in Itself</h2>
                              <p>Mines can be characterized as a stealer of lives, limb and livelihood. Unfortunately every 30 minutes there is a new casualty caused by it and if we all want to live in a mine-free world it will take 1100 years to get rid of it.

The International Committee of Red Cross (ICRC) and National Red Cross and Red Crescent Societies have developed the Mines awareness programmes which are adapted to local needs. The National Headquarters' of Indian Red Cross Society with the support of ICRC started the Mines Risk Education (MRE) in Rajasthan and Punjab in July 2003.
The training capsule designed by the MRE team of ICRC and IRCS are in full conformity with the Red Cross movement on mine action. So far 320 volunteers have been trained. They are either teachers or village heads of four majorly affected Districts of Rajasthan- Barmar, Jaisalmer, Ganganagar and Bikaner and three of Punjab- Ferozpur, Amritsar and Gurdaspur. The volunteers' contribution is noteworthy as they are informing the villagers about the missing mines and the threat associated with it.
The volunteers are performing three major tasks, which are - reporting about any new incident that takes place in their area, helping the victims with compensation procedures and informing about orthopaedic services available in the region and about the services of the IRCS Artificial Limb Centre in Jammu that is supported by the ICRC. They generally make use of the IEC material provided by NHQ, IRCS on mines.
One such example of a trained volunteer is Kala Singh, a teacher and an ayurvedic doctor, who lives in a village named 66NP in Sriganganagar. He feels great to be associated with the IRCS and its MRE programme. He has visited five villages and through word-of mouth and with IEC material on mines has benefited around 1500 villagers. It was Kala Singh who informed the District about the recent missing mine accident causing serious injuries to two sisters, Moorti Bai and Reetu Bai. He helped them in getting the treatment from the nearest hospital.
Malkeet Singh, a teacher and a trained volunteer of IRCS MRE programme is performing his task of spreading awareness among the villagers about the mines by putting posters on the chemist and grocery shops and addressing the ‘gram sabha'. He also makes announcements through the speakers of the Gurudwara to reach to the maximum villagers.
The villagers of the mines affected areas feel that they have been benefited by the IRCS MRE programme which has help them to counter fear of the missing mines. These innocent villagers are apprehensive and don't want that any one of them becomes a victim of missing mines like Moorti bai who now walks on crutches and has sent back to her parents by her in-laws or Reetu Bai, who is visually impaired after the accident or Swaran Singh whose limb has been amputated.

 </p>
                           <!--   <!-- Read more btn 
                              <a class="wpcf7-submit button--itzel" href="#">
                                <i class="button__icon fa fa-link"></i>
                                <span>Read More</span>
                              </a>                              
                            </div>
                          </div>
                        </div>
                        <!-- Start Single Blog 
                        <div class="single-Blog">
                          <div class="single-blog-left">
                            <ul class="blog-comments-box">
                              <li>May <h2>10</h2>2015</li>
                              <li><span class="fa fa-eye"></span>1523</li>
                              <li><a href="#"><span class="fa fa-comments"></span>5</a></li>
                            </ul>
                          </div>
                          <div class="single-blog-right">
                            <div class="blog-img">
                              <figure class="blog-figure">
                               <a href="#"><img alt="img" src="images/9.jpg"></a>
                                <span class="image-effect"></span>
                              </figure>
                            </div>
                            <div class="blog-author">
                              <ul>
                                <li>By <a href="#">Dr. Smith</a></li>
                                <li>In <a href="#">Dental</a></li>
                              </ul>
                            </div>
                            <div class="blog-content">
                              <h2>Latest Trend Of Medical Dental Department</h2>
                              <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                              <!-- Read more btn 
                              <a class="wpcf7-submit button--itzel" href="#">
                                <i class="button__icon fa fa-link"></i>
                                <span>Read More</span>
                              </a>   
                            </div>
                          </div>
                        </div>
                        <!-- Start Single Blog 
                        <div class="single-Blog">
                          <div class="single-blog-left">
                            <ul class="blog-comments-box">
                              <li>May <h2>10</h2>2015</li>
                              <li><span class="fa fa-eye"></span>1523</li>
                              <li><a href="#"><span class="fa fa-comments"></span>5</a></li>
                            </ul>
                          </div>
                          <div class="single-blog-right">
                            <div class="blog-img">
                              <figure class="blog-figure">
                               <a href="#"><img alt="img" src="images/9.jpg"></a>
                                <span class="image-effect"></span>
                              </figure>
                            </div>
                            <div class="blog-author">
                              <ul>
                                <li>By <a href="#">Dr. Smith</a></li>
                                <li>In <a href="#">Dental</a></li>
                              </ul>
                            </div>
                            <div class="blog-content">
                              <h2>Latest Trend Of Medical Dental Department</h2>
                              <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                              <!-- Read more btn 
                              <a class="wpcf7-submit button--itzel" href="#">
                                <i class="button__icon fa fa-link"></i>
                                <span>Read More</span>
                              </a>   
                            </div>
                          </div>
                        </div>
                        <!-- Start Single Blog 
                        <div class="single-Blog">
                          <div class="single-blog-left">
                            <ul class="blog-comments-box">
                              <li>May <h2>10</h2>2015</li>
                              <li><span class="fa fa-eye"></span>1523</li>
                              <li><a href="#"><span class="fa fa-comments"></span>5</a></li>
                            </ul>
                          </div>
                          <div class="single-blog-right">
                            <div class="blog-img">
                              <figure class="blog-figure">
                               <a href="#"><img alt="img" src="images/9.jpg"></a>
                                <span class="image-effect"></span>
                              </figure>
                            </div>
                            <div class="blog-author">
                              <ul>
                                <li>By <a href="#">Dr. Smith</a></li>
                                <li>In <a href="#">Dental</a></li>
                              </ul>
                            </div>
                            <div class="blog-content">
                              <h2>Latest Trend Of Medical Dental Department</h2>
                              <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                              <!-- Read more btn 
                              <a class="wpcf7-submit button--itzel" href="#">
                                <i class="button__icon fa fa-link"></i>
                                <span>Read More</span>
                              </a>   
                            </div>
                          </div>
                        </div>-->
                        
                        <!-- Start blog pagination  -->
                        <div class="blog-pagination">
                          <nav>
                            <ul class="pagination">
                              <li>
                                <a href="#" aria-label="Previous">
                                  <span class="fa fa-angle-left"></span>
                                </a>
                              </li>
                              <li><a href="#">1</a></li>
                              <li><a href="#">2</a></li>
                              <li><a href="#">3</a></li>
                              <li><a href="#">4</a></li>
                              <li><a href="#">5</a></li>
                              <li>
                                <a href="#" aria-label="Next">
                                  <span class="fa fa-angle-right"></span>
                                </a>
                              </li>
                            </ul>
                          </nav>
                        </div>
                      </div>
                    </div>                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--=========== END BLOG SECTION ================-->

     <footer id="footer">
      <!-- Start Footer Top -->
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="single-footer-widget">
                <div class="section-heading">
                <h2>About Us</h2>
                <div class="line"></div>
              </div>           
              <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="single-footer-widget">
                <div class="section-heading">
                <h2>Quick Links</h2>
                <div class="line"></div>
              </div>
              <ul class="footer-service">
                <li><a href="#"><span class="fa fa-check"></span>First Medical Responders(FMR)</a></li>
                <li><a href="#"><span class="fa fa-check"></span>St. Jones Ambulance</a></li>
                <li><a href="#"><span class="fa fa-check"></span>Disaster Management</a></li>
                <li><a href="#"><span class="fa fa-check"></span>Blood Bank</a></li>
                <li><a href="#"><span class="fa fa-check"></span>Donate</a></li>
                <li><a href="#"><span class="fa fa-check"></span>Volunteer</a></li>
              </ul>
              </div>
            </div>
            <!-- <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="single-footer-widget">
                <div class="section-heading">
                <h2>Tags</h2>
                <div class="line"></div>
              </div>
                <ul class="tag-nav">
                  <li><a href="#">Dental</a></li>
                  <li><a href="#">Surgery</a></li>
                  <li><a href="#">Pediatric</a></li>
                  <li><a href="#">Cardiac</a></li>
                  <li><a href="#">Ophthalmology</a></li>
                  <li><a href="#">Diabetes</a></li>
                </ul>
              </div>
            </div> -->
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="single-footer-widget">
                <div class="section-heading">
                <h2>Contact Info</h2>
                <div class="line"></div>
              </div>
              <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</p>
              <address class="contact-info">
                <p><span class="fa fa-home"></span>Indian Red Cross National HQ,Central Secretariat,New Delhi</p>
                <p><span class="fa fa-phone"></span>phone no.</p>
                <p><span class="fa fa-envelope"></span>info@indianredcross.org</p>
              </address>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Start Footer Middle -->
      <div class="footer-middle">
        <div class="container">
          <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="footer-copyright">
              <p>&copy; Copyright 2016 <a href="index.html">Indian Red Cross Society</a></p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="footer-social">              
                <a href="#"><span class="fa fa-facebook"></span></a>
                <a href="#"><span class="fa fa-twitter"></span></a>
                <!-- <a href="#"><span class="fa fa-google-plus"></span></a>
                <a href="#"><span class="fa fa-linkedin"></span></a>   -->   
            </div>
          </div>
        </div>
        </div>
      </div>
    
    {% include "menu_js.html" %}
     
  </body>
</html>