 BEGAIN PRELOADER -->
    <div id="preloader">
      <div id="status">&nbsp;</div>
    </div>
    <!-- END PRELOADER -->

    <!-- SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#"><i class="fa fa-heartbeat"></i></a>
    <!-- END SCROLL TOP BUTTON -->

    <!--=========== BEGIN HEADER SECTION ================-->
    <header id="header">
      <!-- BEGIN MENU -->
      <div class="menu_area">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">  
          <div class="container">
            <div class="navbar-header">
              <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <!-- LOGO -->              
              <!-- TEXT BASED LOGO -->
              <a class="navbar-brand" href="index.html"><i class="fa fa-plus"></i> <span>IRCS WebAdmin</span></a>              
              <!-- IMG BASED LOGO  -->
               <!-- <a class="navbar-brand" href="index.html"><img src="/media/main/images/logo.png" alt="logo"></a>  -->                     
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul id="top-menu" class="nav navbar-nav navbar-right main-nav">
                <li class="active"><a href="index.html">Home</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">HomePage<span class="fa fa-angle-down"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="medical-counseling.html">Top Slider</a></li>
                    <li><a href="medical-research.html">Team Images</a></li>
                    <li><a href="blood-bank.html">Change branch numbers</a></li>
                    <li><a href="blood-bank.html">Footer</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Make a New Post<span class="fa fa-angle-down"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="membership.html">Image and Text</a></li>
                    <li><a href="donation.html">Image and Text with Video</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Media<span class="fa fa-angle-down"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="gallery.html">PhotoGallery</a></li>
                    <li><a href="medical-research.html">News</a></li>
                    <li><a href="blood-bank.html">Archive</a></li>
                    <li><a href="blood-bank.html">Red Cross Stories</a></li>
                    <li><a href="blood-bank.html">Publications</a></li>
                  </ul>
                </li>
                <li><a href="gallery.html">Blood Bank</a></li>
                <!-- <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Associations<span class="fa fa-angle-down"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="blog-archive.html">Association 1</a></li>
                    <li><a href="blog-archive-with-left-sidebar.html">Association 2</a></li>
                    <li><a href="blog-archive-with-right-sidebar.html">Association 3</a></li>
                    <li><a href="blog-single.html">Association 4</a></li>
                    <li><a href="blog-single-with-left-sidebar.html">Association 5</a></li>
                    <li><a href="blog-single-with-right-sidebar.html">Association 6</a></li>           
                  </ul>
                </li> -->
                <!-- <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">About Us<span class="fa fa-angle-down"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="404.html"></a></li>
                    <li><a href="#">About Society</a></li>   
                    <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Branches  <span class="fa fa-angle-down"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="medical-counseling.html">National HeadQuarters</a></li>
                    <li><a href="statebranches.html">State Branches</a></li>
                    <li><a href="#">Branch Rules</a></li>
                  </ul>
                </li>
             
                  </ul>
                </li>  -->              
                
              </ul>           
            </div><!--/.nav-collapse -->
          </div>     
        </nav>  
      </div>
      <!-- END MENU -->    
    </header>
    <!--=========== END HEADER SECTION ================