{% extends "base.html" %}

{% block content %}

<h1 style="margin-left: 40%;margin-right: 40%;padding-top: 50px;">Newsletter</h1>
<div class="table-responsive">
                  <table class="table table-hover table-bordered">
                    <thead>
                      <tr>
                        <th>Title</th>
                        <th>Updated</th>
                        <th>View</th>                      
                      </tr>
                    </thead>
                    <tbody>
                    {% for x,y,z in data %}
                      <tr>
                        <td>{{x}}</td>
                        <td>{{z}}</td>
                        <td><a href="../media/uploads/newsletter/{{y}}" target="_blank">View</td>
                      </tr>
                      {% endfor %}
                      
                    </tbody>
                  </table>
                  </div>

{% endblock %}