{% extends "base.html" %}
{% block content %}

<div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Learning Platform</h2>
                    <button class="btn btn-danger" onclick="window.location='http://www.ifrc.org/learning';">Go to Platform Page</button>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-muted text-center">
                      <div id="abt">The Red Cross Learning platform is an online learning community for Indian Red Cross Society volunteers and staff as well as partners and the general public. It delivers free, high-quality, self-directed, multilingual Red Cross and other learning opportunities to support the personal and professional development of volunteers and staff. Alongside the learning materials, the Learning platform has various social learning tools including communities, forums and wikis through which to learn from and collaborate with peers.
                      The Learning platform’s rapidly growing global community of many tens of thousands of learners from all National Societies consistently achieves industry topping completion rates of above 50 per cent across its courses.
                      The Learning platform is a core part of the Red Cross Learning Education and Training (LET) Hub (<a href="http://www.ifrc.org/learning" target="_blank" style="color: red;">www.ifrc.org/learning</a>) which provides a window to a variety of appropriate, high quality online training and learning opportunities including those found on the Learning platform. All Indian Red Cross volunteers and staff are encouraged to explore, use and share these as widely as possible among friends and colleagues. The Course Catalogue for the Learning platform is available online.

                      The Red Cross Red Crescent Learning Education and Training (LET) Hub intends to stimulate new thinking, set standards, and establish curricula of relevance to our core business areas, and then to signpost volunteers and staff towards accredited providers who offer structured and </div>
                      <div id="last-line">professionalized learning opportunities.</div>
                      <br>
                      <br>
                      <h2 class="text-center"><strong>Registration, access to and use of the Learning platform is free.</strong></h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
    <br>
    <div class="container">
     <h2 class="text-muted text-center">Tutorial videos on how to access the Learning Platform are available in both Hindi and English.</h2>
      <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="text-muted text-center"><a href="https://www.youtube.com/playlist?list=PLOQGS-7GOcesvfvl_2zYmANcOcPDtnDXd"><h3>Tutorial Videos - Hindi</h3></a></div>
                      
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="text-muted text-center"><a href="https://www.youtube.com/playlist?list=PLOQGS-7GOcetERBaAMYRuvGrv-ROYCbYF"><h3>Tutorial Videos - English</h3></a></div>
      </div>
      	
      </div>
      	
      </div>
      <br><hr>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4" >
          <img src="/media/main/images/image1.JPG" style="border:solid 5px white;">
        </div>
        <div class="col-lg-4 col-md-4">
          <img src="/media/main/images/image2.JPG" style="border:solid 5px white;">
        </div>
        <div class="col-lg-4 col-md-4">
          <img src="/media/main/images/image4.JPG" style="border:solid 5px white;">
        </div>
      </div>
      </div>

{% endblock %}