{% extends "base.html" %}

{% block content %}
 <!-- Start Service Title -->
              <div class="section-heading">
                <h2>Membership</h2>
                <div class="line"></div>
              </div>
              <!-- Start Service Content -->
              <div class="service-content">
                <div class="row">
                  <p class="genp">Individual/institutions enrolling themselves in different grade of memberships by subscribing the membership fee as follows :-<p>
                  <div class="table-responsive">
                  <table class="table table-hover table-bordered">
                    <thead>
                      <tr>
                        <th>Grade</th>
                        <th>Amount</th>                        
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Patron</td>
                        <td>&#8377; 20000</td>
                      </tr>
                      <tr>
                        <td>Vice-Patron</td>
                        <td>&#8377; 10000</td>
                      </tr>
                      <tr>
                        <td>Life Member</td>
                        <td>&#8377; 500</td>
                      </tr>
                      <tr>
                        <td>Life Associate</td>
                        <td>&#8377; 250</td>
                      </tr>
                      <tr>
                        <td>Annual Member</td>
                        <td>&#8377; 50</td>
                      </tr>
                      <tr>
                        <td>Annual Associate</td>
                        <td>&#8377; 10</td>
                      </tr>
                      <tr>
                        <td>Institutional Member</td>
                        <td>&#8377; 100</td>
                      </tr>
                    </tbody>
                  </table>
                  </div>
                  <p class="genp">
                  All member are associated with the Red Cross world over.The Patron membership certificates issued by the national Headquarters of the Indian Red Cross Society are signed by Honourbale President of India, in his capacity as President of the Indian Red Cross Society.<br>

                  Vice – Patron, Life Member and Life Associate membership certificates are signed by the Chairman and Secretary General of the society.<br>

                  Indian Red Cross Society has its branches in every state, union territory and district level. Membership is obtained by enrolling in the respective state/district branch of the India Red Cross society to which one belongs.<br>

                  On becoming Patron, Vice-Patron and Life member of the India Red Cross Society who gets the opportunity to be invited , on the recommendations of the enrolling state/district Branch, for attending the Annual General Meeting of the society. The Annual General Meeting is presided by Honourbale President of India .<br>

                  On becoming member in any grade of membership, the individual helps in rendering Red Cross a noble cause to serve the most vulnerable and thereby reaching to the needy, through Red Cross.</p>
                </div>
              </div>
{% endblock %}